@page "/"
<PageTitle>Home</PageTitle>
<h1>Welcome to the Simple Calculator App!</h1>
<p>Select a calculator type to get started:</p>
<a href="/TxtCalc">Go to TextBox Calculator</a>
<br />
<a href="/BuoCalc">Go to Button-Only Calculator</a>
