name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Install wasm-tools
      run: dotnet workload install wasm-tools-net8

    - name: Publish .NET Project
      run: dotnet publish "Simple Calculator (Web).csproj" -c Release -o release --nologo

    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll

    - name: copy index.html to 404.html
      run: cp release/wwwroot/index.html release/wwwroot/404.html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.ACTIONS_PAT }}
        publish_dir: release/wwwroot
